@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto Slab Variable', serif;
}

body {
  background-color: #1F4D4D;
}

::selection {
    display: none;
    visibility: hidden;
}
